.Contact {
    margin-top: 2rem;

    .link {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        div {
            width: 150px;
            height: 150px;
            background-color: #1A1A1A;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 75px;
            }
        }

        p {
            text-align: center;
            margin-top: 5px;
        }
    }

    @media screen and (min-width: 719px) {
        .my-contact {
            display: flex;
            justify-content: space-around;

            div {
                width: 33%;
                margin-top: 1rem;
            }
        }
    }
}