.Footer {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        p {
            color: #FFBD39;
        }
    }

    .copyright {
        padding: 0 1rem;
        text-align: center;
    }

    .images {
        display: flex;
        justify-content: space-between;

        a {
            width: 48%;
        }

        img {
            width: 25px;
            border-radius: 100%;
        }
    }

    @media screen and (min-width: 719px) {
        margin-top: 4rem;

        .images {
            img {
                width: 50px;
            }
        }
    }
}