.Menu {
    h4 {
        font-weight: normal;

        &:hover {
            color: #FFBD39;
        }
    }

    @media screen and (min-width: 719px) {
        display: flex;

        h4 {
            padding-left: 1rem;
        }
    }
}