.Menu {
    h4 {
        font-weight: normal;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 8px;
            text-decoration-color: #FFBD39;
        }
    }

    .active {
        color: #FFBD39;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    @media screen and (max-width: 718px) {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem 0;
    }

    @media screen and (min-width: 719px) {
        display: flex;
        flex-direction: row; // aligné horizontalement
        gap: 1rem;

        h4 {
            padding-left: 0.5rem;
        }
    }
}