.Projects {
    margin-top: 2rem;

    .intro {
        text-align: center;
        color: #808080;
        margin-top: 1rem;
    }

    h3 {
        text-align: center;
    }

    .sub-category {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        .arrow {
            transition: transform 0.3s ease;
        }

        .rotate {
            transform: rotate(90deg);
        }

        p {
            &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }
    }

    @media screen and (max-width: 718px) {
        p {
            color: #808080;
        }
    }

    @media screen and (min-width: 719px) {
        margin-top: 4rem;
    }
}