.Skills {
    margin-top: 2rem;

    .sub-category {
        margin: 1rem 0;

        p {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    .other-skills-select {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        p {
            &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        .arrow {
            width: 1.2rem;
            height: 1.2rem;
            transition: transform 0.3s ease; // animation fluide

            &.open {
                transform: rotate(90deg);
            }
        }
    }

    .skills-list {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
            margin-top: 1rem;
        }
    }

    @media screen and (min-width: 719px) {
        margin-top: 4rem;

        .sub-category {
            margin-bottom: 2rem;

            p {
                font-size: 1.5rem;
            }
        }

        .skills-list {
            gap: 2rem;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}